node_modules

dist
/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite

.env
#package-lock.json
yarn.lock
.idea
.vscode

electron-v32.0.1-linux-x64
electron-v32.0.1-linux-x64.zip